{% load static %}
<footer>
    <div class="footer-container center">
        <div class="sobre-mim-container">
            <div class="footer-img">
                <img class="img" src="{% static "global/images/logo2.png" %}" alt="thallys dev logo">
            </div>

            <p class="footer-p">Curioso e obstinado</p>
            <p class="footer-p">Proativo e eficiente</p>
            <p class="footer-p">Lógico e analítico</p>
            <p class="footer-p">Organizado e comunicativo</p>
            <p class="footer-p">Resiliente e profissional</p>
        </div>
        <div class="comentarios-footer">
        </div>
        <div class="redes-sociais">
            <h2 class="h2-redes-sociais">Redes sociais</h2>
            <div class="images-footer-container">
                <div class="footer-img-redes-sociais">
                    <a href="#"><img src="{% static "global/images/facebook-logo.png" %}" alt="facebook" class="img"></a>
                </div>
                <div class="footer-img-redes-sociais">
                    <a href="#"><img src="{% static "global/images/instagram-logo.png" %}" alt="" class="img"></a>
                </div>
                <div class="footer-img-redes-sociais">
                    <a href="#"><img src="{% static "global/images/telegram.png" %}" alt="" class="img"></a>
                </div>
            </div>
        </div>
    </div>

</footer>
