{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static "global/css/utils.css" %}">
<link rel="stylesheet" href="{% static "global/css/global.css" %}">
<link rel="stylesheet" href="{% static "global/css/responsividade.css" %}">
<link rel="shortcut icon" href="{% static "global/images/icon.png" %}" type="image/x-icon">
<script src="{% static "global/js/animations.js" %}" defer></script>
<title>Thallyson Luiz - Portifolio</title>